doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="bootstrap.min.css")
    title Desafizzmod - TP 4
  body
    div(class="bg-gray-300")
      div(class="md:container md:mx-auto")
        block content